<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="map_medium0.yaml"/>

  <include file="$(find-pkg-share visualizer)/launch/view.launch">
  </include>

<!--   <include file="$(find-pkg-share flightcontroller)/launch/velocity.launch"> -->
<!--   </include> -->
<node pkg="tf2_ros" exec="static_transform_publisher" name="tower_broadcaster" args="72.721443 -131.193 0.0 -0.5235987756 0.0 0.0 world tower"/>
  <include file="$(find-pkg-share flightcontroller)/launch/position.launch">
  </include>

  <include file="$(find-pkg-share sensor_simulation)/launch/sensors.launch">
  </include>

    <node pkg="simple_sim" exec="simple_sim_node" name="simple_sim_node" output="screen" on_exit="shutdown"></node>

        <node name="geofence_and_mission_node" pkg="simple_control" exec="geofence_and_mission" output="screen">
            <param name="/geofence_and_mission_node/geofence/x" type="float" value="10" />
            <param name="/geofence_and_mission_node/geofence/y" type="float" value="10" />
            <param name="/geofence_and_mission_node/geofence/z" type="float" value="10" />
            <param name="/geofence_and_mission_node/acceptance_range" type="float" value="0.25" />
        </node>

<node pkg="simple_control" exec="path_planner" name="path_planner_node" output="screen" on_exit="shutdown"></node>
<node pkg="nav2_map_server" exec="map_server" name="map_server" output="screen">
    <param name="yaml_filename" value="$(find-pkg-share flightcontroller)/maps/$(var map_file)"/>
</node>
  <node pkg="nav2_lifecycle_manager" exec="lifecycle_manager" name="lifecycle_manager_map_server" output="screen">
    <param name="use_sim_time" value="false"/>
    <param name="autostart" value="true"/>
    <param name="node_names" value="['map_server']"/>
  </node>

  <node name="tower" pkg="flightcontroller" exec="tower.py" output="screen"/>
  <node pkg="flightcontroller" exec="ground_robot_physics.py" name="ground_robot_physics" output="screen"></node>
  <node pkg="simple_control" exec="tower_to_map" name="tower_to_map_node" output="screen"/>

</launch>
