<launch>
  <arg name="use_dynamics" default="1" />
  <arg name="ignore_collisions" default="false" />

  <group>
   <push-ros-namespace namespace="/uav"/>

    <node name="flightgoggles_uav_dynamics" pkg="flightgoggles_uav_dynamics" exec="node"
          if="$(var use_dynamics)" output="screen">
      <param name="ignore_collisions" type="bool" value="$(var ignore_collisions)" />
      <param name="/uav/flightgoggles_uav_dynamics/clockscale" type="float" value=".2" />
      <param name="/uav/flightgoggles_uav_dynamics/vehicle_mass" type="float" value="1.0" />
      <param name="/uav/flightgoggles_uav_dynamics/vehicle_inertia_xx" type="float" value="0.0049" />
      <param name="/uav/flightgoggles_uav_dynamics/vehicle_inertia_yy" type="float" value="0.0049" />
      <param name="/uav/flightgoggles_uav_dynamics/vehicle_inertia_zz" type="float" value="0.0069" />
      <param name="/uav/flightgoggles_uav_dynamics/max_prop_speed" type="float" value="2200.0" />
      <param name="/uav/flightgoggles_uav_dynamics/moment_arm" type="float" value="0.08" />
      <param name="/uav/flightgoggles_uav_dynamics/motor_time_constant" type="float" value="0.02" />
      <param name="/uav/flightgoggles_uav_dynamics/motor_rotational_inertia" type="float" value="6.62e-6" />
      <param name="/uav/flightgoggles_uav_dynamics/thrust_coefficient" type="float" value="1.91e-6" />
      <param name="/uav/flightgoggles_uav_dynamics/torque_coefficient" type="float" value="2.6e-7" />
      <param name="/uav/flightgoggles_uav_dynamics/drag_coefficient" type="float" value="0.1" />
      <param name="/uav/flightgoggles_uav_dynamics/aeromoment_coefficient_xx" type="float" value="0.003" />
      <param name="/uav/flightgoggles_uav_dynamics/aeromoment_coefficient_yy" type="float" value="0.003" />
      <param name="/uav/flightgoggles_uav_dynamics/aeromoment_coefficient_zz" type="float" value="0.003" />
      <param name="/uav/flightgoggles_uav_dynamics/moment_process_noise" type="float" value="1.25e-7" />
      <param name="/uav/flightgoggles_uav_dynamics/force_process_noise" type="float" value="0.0005" />
      <param name="/uav/flightgoggles_uav_dynamics/use_ratethrust_controller" type="bool" value="true" />
      <param name="/uav/flightgoggles_uav_dynamics/use_rungekutta4integrator" type="bool" value="false" />

      <param name="/uav/flightgoggles_imu/accelerometer_variance" type="float" value="0.005" />
      <param name="/uav/flightgoggles_imu/gyroscope_variance" type="float" value="0.003" />

      <param name="/uav/flightgoggles_lpf/gain_p" type="float" value="35530.5758439217" />
      <param name="/uav/flightgoggles_lpf/gain_q" type="float" value="266.572976289502" />

      <param name="/uav/flightgoggles_pid/gain_p_roll" type="float" value="9.0" />
      <param name="/uav/flightgoggles_pid/gain_i_roll" type="float" value="3.0" />
      <param name="/uav/flightgoggles_pid/gain_d_roll" type="float" value="0.3" />
      <param name="/uav/flightgoggles_pid/gain_p_pitch" type="float" value="9.0" />
      <param name="/uav/flightgoggles_pid/gain_i_pitch" type="float" value="3.0" />
      <param name="/uav/flightgoggles_pid/gain_d_pitch" type="float" value="0.3" />
      <param name="/uav/flightgoggles_pid/gain_p_yaw" type="float" value="9.0" />
      <param name="/uav/flightgoggles_pid/gain_i_yaw" type="float" value="3.0" />
      <param name="/uav/flightgoggles_pid/gain_d_yaw" type="float" value="0.3" />
      <param name="/uav/flightgoggles_pid/int_bound_roll" type="float" value="1000.0" />
      <param name="/uav/flightgoggles_pid/int_bound_pitch" type="float" value="1000.0" />
      <param name="/uav/flightgoggles_pid/int_bound_yaw" type="float" value="1000.0" />
    </node>

    <!--Static transform for ENU to NED world-->
    <node pkg="tf2_ros" exec="static_transform_publisher"
          name="world_ned_link" args="0 0 0 1.57079632679 3.14159265359 0 'world' 'world/ned'"/>

  </group>
</launch>
